<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue JS</title>
</head>
<body>

<div id="app">
    <ul>
      <li v-for="(person, index) of people">{{ index + 1 }}. {{ person.name }} - <b>{{ person.age}}</b></li>
    </ul>

    <hr>

    <ol>
      <li v-for="num of 1">{{ num }}</li>
    </ol>

    <hr>

    <ul>
      <li v-for="(value, key, inndex) in person"><em>{{ index + 1 }}</em> <b>{{ key }}</b> {{ value }}</li>
    </ul>

</div>

  <button @click="isVisible = !isVisible">Toggle</button>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script type="text/javascript">

    new Vue({
      el: '#app',
      data: {
        people: [
          {name: 'Max', age: 20},
          {name: 'Kyle', age: 25},
          {name: 'Luke', age: 30}
        ],
        person: {
          name: Max,
          age: 20,
          job: 'Frontend'
        }
      },
      methods: {

      }

    })

  </script>

</body>
</html>
